<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/util
	http://www.springframework.org/schema/util/spring-util.xsd"
	default-lazy-init="false">

	<!-- 只扫描Controller 注解 -->
	<context:component-scan base-package="win.leizhang"
		use-default-filters="false">
		<context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" />
		<context:include-filter type="annotation"
			expression="org.springframework.web.bind.annotation.ControllerAdvice" />
		<context:include-filter type="annotation"
			expression="org.springframework.context.annotation.Configuration" />
	</context:component-scan>

	<!-- 静态资源和文件的访问和映射，支持访问WEB-INF目录 -->
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/resources/**" location="/WEB-INF/resources/" />
	<mvc:resources mapping="/swagger/**" location="/WEB-INF/swagger/" />

	<mvc:default-servlet-handler />

	<!-- enable autowire -->
	<!-- <context:annotation-config /> -->

	<!--RequestMappingHandlerAdapter -->
	<!-- 启动注解驱动的Spring MVC功能，注册请求url和注解POJO类方法的映射 -->
	<mvc:annotation-driven>
		<mvc:message-converters>
			<ref bean="stringHttpMessageConverter" />
			<ref bean="marshallingHttpMessageConverter" />
			<ref bean="mappingJackson2HttpMessageConverter" />
			<!-- <ref bean="fastJsonHttpMessageConverter" /> -->
		</mvc:message-converters>
	</mvc:annotation-driven>

	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter">
		<!--<property name="supportedMediaTypes"> <list> <value>text/plain;charset=UTF-8</value> 
			</list> </property> -->
	</bean>
	<bean id="marshallingHttpMessageConverter"
		class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
		<property name="marshaller" ref="castorMarshaller" />
		<property name="unmarshaller" ref="castorMarshaller" />
	</bean>
	
	<!-- Jackson的序列化行为进行定制，比如，排除值为空属性、进行缩进输出、将驼峰转为下划线、进行日期格式化等 -->
	<bean id="objectMapper" class="win.leizhang.system.CustomObjectMapper"
		init-method="init">
		<property name="camelCaseToLowerCaseWithUnderscores" value="false" />
		<property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss" />
	</bean>

	<!-- 输出对象转JSON支持 -->
	<bean id="mappingJackson2HttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="objectMapper" ref="objectMapper" />
		<property name="supportedMediaTypes">
			<list>
				<value>application/json;charset=UTF-8</value>
				<value>application/x-www-form-urlencoded;charset=UTF-8</value>
				<value>application/xml</value>
				<value>application/atom+xml</value>
				<value>text/html</value>
				<value>text/plain</value>
				<value>text/xml</value>
			</list>
		</property>
	</bean>

	<bean id="castorMarshaller" class="org.springframework.oxm.castor.CastorMarshaller" />
	<!--信息转换 - 结束 -->

	<bean id="contentNegotiationManagerFactoryBean"
		class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
		<property name="defaultContentType" value="text/html" />
		<!-- 这里是否忽略掉accept header，默认就是false -->
		<property name="ignoreAcceptHeader" value="true" />
		<property name="favorPathExtension" value="true" />
		<property name="favorParameter" value="false" />
		<property name="mediaTypes">
			<map>
				<entry key="APPLICATION_JSON_UTF8" value="application/json;charset=UTF-8" />
				<entry key="APPLICATION_FORM_URLENCODED" value="application/x-www-form-urlencoded" />
				<entry key="APPLICATION_XML" value="application/xml" />
				<entry key="APPLICATION_ATOM_XML" value="application/atom+xml" />
				<entry key="TEXT_HTML" value="text/html" />
				<entry key="TEXT_PLAIN" value="text/plain" />
				<entry key="TEXT_XML" value="text/xml" />
				<!-- <entry key="xls" value="application/vnd.ms-excel" /> -->
			</map>
		</property>
	</bean>

	<!--内容协商 -->
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="contentNegotiationManager" ref="contentNegotiationManagerFactoryBean" />
		<property name="viewResolvers">
			<list>
				<bean
					class="org.springframework.web.servlet.view.InternalResourceViewResolver">
					<property name="prefix" value="/WEB-INF/jsp/" />
					<property name="suffix" value=".jsp" />
				</bean>
			</list>
		</property>
		<property name="defaultViews">
			<list>
				<bean id="jsonView"
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView" />
				<bean id="xmlView"
					class="org.springframework.web.servlet.view.xml.MarshallingView">
					<property name="marshaller" ref="castorMarshaller" />
				</bean>
			</list>
		</property>
	</bean>

	<!--国际化 -->
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="defaultEncoding" value="UTF-8" />
		<property name="basenames">
			<list>
				<value>messages.welcome</value>
			</list>
		</property>
	</bean>

	<!-- 文件上传,使用spring的CommosMultipartResolver -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="utf-8" />
		<property name="maxUploadSize" value="31457280" />
		<property name="maxInMemorySize" value="40960" />
		<property name="uploadTempDir" value="tempFiles" />
	</bean>

	<!-- swagger bean -->
	<bean class="com.mangofactory.swagger.configuration.SpringSwaggerConfig" />

</beans>