<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-lazy-init="false">

	<!-- Shiro Filter -->
	<bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
		<!-- shiro的核心安全接口 -->
		<property name="securityManager" ref="securityManager" />
		<!-- 要求登录时的链接 -->
		<property name="loginUrl" value="/auth/login" />
		<!-- 登陆成功后要跳转的连接 -->
		<property name="successUrl" value="/auth/success" />
		<!-- 未授权时要跳转的连接 -->
		<property name="unauthorizedUrl" value="/auth/login" />
		<!-- shiro连接约束配置 -->
		<property name="filterChainDefinitions">
			<value>
				/auth/login = authc
				/logoutlogout = logout
				/resource/** = anon

				<!-- /login = authc /user/** = authc /role/edit/* = perms[role:edit] 
					/role/save = perms[role:edit] /role/list = perms[role:view] /** = authc -->
			</value>
		</property>
	</bean>

	<!-- 安全管理器 -->
	<bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
		<property name="realm" ref="systemRealm" />
	</bean>

	<bean id="systemRealm" class="com.zl.system.shiro.SystemRealm" />

</beans>
